name: Proxy Docker Dev Release
on:
  push:
    branches:
      - support-sdk-keys-otel

jobs:
  release-docker-dev:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            configcat/proxy:dev-${{ github.run_id }}
