name: Proxy CI

on:
  push:
    branches: [ '*' ]
    paths-ignore:
      - 'charts/**'
      - '**/*.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'charts/**'
      - '**/*.md'
    types: [opened, synchronize, reopened]
    
  workflow_dispatch:

jobs:

  test:
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongodb/mongodb-community-server
        ports:
          - 27017:27017
      dynamodb:
        image: amazon/dynamodb-local
        ports:
          - 8000:8000
    steps:
    - uses: actions/checkout@v6
    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: stable
          
    - name: Vet
      run: go vet -tags testing ./...

    - name: Test
      run: go test -tags testing ./...

    - name: Test with race
      run: go test -tags testing -race ./...

  coverage:
    runs-on: ubuntu-latest
    needs: test
    services:
      mongodb:
        image: mongodb/mongodb-community-server
        ports:
          - 27017:27017
      dynamodb:
        image: amazon/dynamodb-local
        ports:
          - 8000:8000
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Run Coverage
        run: go test -tags testing -coverprofile=coverage.out -covermode=atomic ./...

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          